* {
  font-family: Photoshoot;
  text-decoration-line: none;
  background-color: blueviolet;
  color: white
}

.titolo {
  text-align: center;
  font-size: 30px;
}

.ricette {
  display: flex;
  font-size: 40px;
  color: white;
  display:block;
  margin-left: auto;
  margin-right: auto;
}
